/* GENERAL */
:root {
  --blue: #3d99af;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background-color: var(--blue);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 400px;
  height: 280px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__title {
  font-size: 50px;
  display: block;
  width: 100%;
  text-align: center;
}

/* MEMES */
.meme-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 300px;
}

.meme {
  border: solid 1px saddlebrown;
  padding: 10px;
  display: flex;
  width: 80vw;
  opacity: 0;
  transform: translateX(-70vw);
  transition: all 0.8s ease-in-out;
  text-align: center;
}

.meme.visible {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

@media screen and (min-width: 768px) {
  .meme:nth-child(even) {
    flex-direction: row-reverse;
    transform: translateX(70vw);
  }
}

@media (max-width: 768px) {
  .meme {
    flex-direction: column;
    align-items: center;
  }

  .meme img {
    max-width: 100%;
  }
}

.meme img {
  padding: 5px;
  max-width: 50%;
  object-fit: contain;
}

.description {
  padding: 10px;
}

.glass {
  background: rgba(253, 252, 252, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#template--meme {
  display: none;
}

@keyframes dont-btn {
  from {
    background-color: red;
    transform: scale(1);
  }

  to {
    background-color: #af0000;
    transform: scale(1.2);
  }
}

.dont-btn {
  border: 2px solid red;
  padding: 50px 100px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
  margin: 15px;
  animation: dont-btn 0.8s infinite;
  cursor: pointer;
}

.end {
  text-align: center;
  margin-top: 300px;
}

footer {
  background-color: black;
  color: #00ee4d;
  text-align: center;
  text-transform: uppercase;
  padding: 50px;
}
